
<!DOCTYPE html>
<html lang="en">

<body class="dark">
    {% extends "template.html" %}
    {% block content %}


    <header> 
        <img src="https://thumbs.dreamstime.com/b/british-man-tea-illustration-56694673.jpg" loading="lazy" alt="logo" style="border-radius: 10%;" width="400">
        <h1>Me: Michael parker</h1>
        <p>Another teenage dev following his dream. </p>

        
    </header>
    <main style="padding-left: 2%;">
        <br>
        <br>
        <br>
        
            <h2 style="text-align:left; padding: 5px;">&lt;who am I?&gt</h2>
        <h3> 
            I am a student, developer, YouTuber and a lover of marvel. 
            I have been making stuff since I was 12 but got serious about programming due to lockdown. 
            I am from the UK however have lived across the world. The language to code in is python, and my prefered speaking language is English. 
            I try to do something programming each week, even if it's just one short daily challenge. I have been working on multiple projects such as discord bots, APIS and a few websites.
        </h3> 
        <h2 style="text-align:left; padding: 5px;">&lt;/who am I?&gt</h2>
        <br>
        <br>
            
        <h2 style="text-align:left; padding: 5px;">&lt;Projects&gt</h2>
        <h2 style="text-align:left; padding: 5px;">&lt;/Projects&gt</h2>

        <h2 style="text-align:left; padding: 5px;">&lt;skills&gt</h2>

        

        <h2 style="text-align:left; padding: 5px;">&lt;/skills&gt</h2>

            

        
            
    </main>
    

    {% endblock %}
</body>
</html>