<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Michael Parker's site</title>

    <link href="https://fonts.googleapis.com/css2?family=Roboto:wght@500&display=swap" rel="stylesheet">

    <link rel= "stylesheet" type= "text/css" href= "{{ url_for('static',filename='styles/style.css') }}">

    <script defer src="static/app.js"></script>
  </head>


<body class="dark">
    <nav class="navbar">
        <ul class="navbar-nav">
            <li class="navbar-item"><a class="active" href="{{ url_for('home') }}">Home</a></li>
            <li class="navbar-item"><a href="about.html">About</a></li>
            <li class="navbar-item"><a href="contact.html">Contact</a></li>
            <li class="navbar-item has-dropdown"><a href="#">Theme</a>
                <ul class="dropdown">
                    <li class="dropdown-item">
                        <a id="light" href="#">Light</a>
                    </li>
                    <li class="dropdown-item">
                        <a id="dark" href="#">Dark</a>
                    </li>
                    <li class="dropdown-item">
                        <a id="solar" href="#">Solar</a>
                    </li>
                </ul> 
            </li>
        </ul>
    </nav>
{% block content %}
{% endblock %}

 </body>

 <footer class = "footer"> 
  <p style="text-align: center;"> This was made by: <a href="https://twitter.com/Michaelrbparker">Michael Parker</a> </p> 
  <a href="https://twitter.com/Michaelrbparker"> <img src="static\images\twitter.png" loading="lazy" alt="logo" style="border-radius: 50%;"/></a>
  <a href="https://www.instagram.com/mikeyrbparker/"> <img src="static\images\instagram.png" loading="lazy" alt="logo" style="border-radius: 50%;"/></a>
  <a href="https://www.youtube.com/channel/UCseznP4Qb2DrRcDXcnAx_iw"> <img src="static\images\youtube.png" loading="lazy" alt="logo" style="border-radius: 50%;"/></a>
  <a href="https://www.linkedin.com/in/michael-parker-b67a4419b/"> <img src="static\images\linkedin.png" loading="lazy" alt="logo" style="border-radius: 50%;"/></a>

  <script data-name="BMC-Widget" data-cfasync="false" src="https://cdnjs.buymeacoffee.com/1.0.0/widget.prod.min.js" data-id="Michaelrbparker" data-description="Support me on Buy me a coffee!" data-message="Donations help me keep this site up as well as will help me go to uni" data-color="#5F7FFF" data-position="Right" data-x_margin="18" data-y_margin="18"></script>
 </footer>
</html>